---
import Layout from "@/layouts/Layout.astro"

import About from "@/components/sections/About.astro"
import Hero from "@/components/sections/Hero.astro"
import Projects from "@/components/sections/Projects.astro"
import Skills from "@/components/sections/Skills.astro"
import KeyboardManager from "@/components/KeyboardManager.astro"
import Experience from "@/components/sections/Experience.astro"
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import Education from "@/components/sections/Education.astro"
import type {
    Basics,
    Languages,
    Projects as ProjectsType,
    Work,
    Skills as SkillsType,
    Education as EducationType,
} from "@/cv"
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const basics = t("basics") as Basics
const languages = t("languages") as Languages[]
const projects = t("projects") as ProjectsType[]
const experience = t("work") as Work[]
const skills = t("skills") as SkillsType[]
const education = t("education") as EducationType[]
console.log(education)
---

<Layout title={`Curriculum de ${basics.name} - ${basics.label}`}>
    <main>
        <Hero basics={basics} languages={languages} />
        <About paragraphs={basics.paragraphs} title="About" />
        <Projects projects={projects} title="Projects" />
        <!--<Languages />  -->
        <Experience experience={experience} title="Contributions" />

        <Skills skills={skills} title="Skills" />
        <Education education={education} title="Education" />
    </main>

    <KeyboardManager />
</Layout>

<style>
    main {
        padding: 2rem;
        margin: auto;
        width: 100%;
    }

    @media (width <= 700px) {
        main {
            padding: 2rem;
        }
    }
</style>
