---
import type { Work } from "@/cv"
import Section from "../Section.astro"

const { experience: work, title } = Astro.props as {
    experience: Work[]
    title: string
}
---

<Section title={title ? title : "Contribuciones"}>
    <ul>
        {
            work.map(({ name, startDate, endDate, position, summary, url }) => {
                const startYear = new Date(startDate).getFullYear()
                const endYear =
                    endDate != null ? new Date(endDate).getFullYear() : ""

                return (
                    <li>
                        <article>
                            <div class="rounded-lg bg-card text-card-foreground">
                                <div class="flex flex-col space-y-1.5">
                                    <div class="flex items-center justify-between gap-x-2 text-base">
                                        <h3 class="font-semibold leading-none">
                                            <a
                                                class="hover:underline"
                                                href={url}
                                                title={`Ver ${name}`}
                                                target="_blank"
                                            >
                                                {name}
                                            </a>
                                        </h3>
                                        <div>
                                            <time
                                                datetime={startDate}
                                                data-title={startDate}
                                            >
                                                {startYear}
                                            </time>
                                            {" - "}
                                            <time
                                                datetime={endDate}
                                                data-title={endDate}
                                            >
                                                {endYear}
                                            </time>
                                        </div>
                                    </div>
                                    <h4 class="text-pretty font-mono text-sm mt-2 text-foreground/80 print:text-[12px]">
                                        {position}
                                    </h4>
                                </div>
                            </div>

                            <footer>
                                <p>{summary}</p>
                            </footer>
                        </article>
                    </li>
                )
            })
        }
    </ul>
</Section>
