---
import GitHub from "@/icons/GitHub.astro"
import Section from "../Section.astro"
import type { Projects } from "@/cv"
const { projects, title } = Astro.props as {
    projects: Projects[]
    title: string
}
---

<Section title={title ? title : "Proyectos"}>
    {
        projects
            .slice(0, 4)
            .map(
                ({
                    url,
                    description,
                    highlights,
                    name,
                    isActive,
                    github,
                    technologies,
                }) => {
                    return (
                        <article class="mt-4">
                            <div class="rounded-lg bg-card text-card-foreground py-1 print:py-0">
                                <div class="flex flex-col space-y-1.5 print:space-y-1">
                                    <div class="flex items-center justify-between gap-x-2 text-base">
                                        <h3 class="inline-flex items-center justify-center gap-x-1 font-semibold leading-none print:text-sm">
                                            <a
                                                class="hover:underline"
                                                href={url}
                                                target="_blank"
                                                title={`Ver el proyecto ${name}`}
                                            >
                                                {name}
                                            </a>
                                            <ul class="list-none p-0 hidden gap-x-1 sm:inline-flex">
                                                {technologies?.map(
                                                    (technology) => {
                                                        return (
                                                            <li class="inline-flex items-center rounded-md border px-2 py-0.5 font-semibold font-mono transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-nowrap border-transparent bg-secondary text-secondary-foreground hover:bg-secondary/60 align-middle text-xs print:px-1 print:py-0.5 print:text-[8px] print:leading-tight">
                                                                {technology}
                                                            </li>
                                                        )
                                                    }
                                                )}
                                            </ul>
                                        </h3>
                                        <div class="flex items-center justify-center gap-x-2">
                                            {isActive && (
                                                <span class="animate-pulse text-green-500 ">
                                                    •
                                                </span>
                                            )}
                                            {github && (
                                                <a
                                                    class:list="text-sm tabular-nums text-gray-500"
                                                    class="github-code-link"
                                                    href={github}
                                                    target="_blank"
                                                    title={`Ver código fuente del proyecto ${name}`}
                                                >
                                                    <GitHub />
                                                </a>
                                            )}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-pretty font-mono text-xs text-muted-foreground">
                                <div class="mt-2 text-sm text-foreground/80 print:mt-1 print:text-[10px] text-pretty">
                                    {description}
                                    <ul class="list-inside list-disc">
                                        {highlights.map((highlight) => {
                                            return <li>{highlight}</li>
                                        })}
                                    </ul>
                                </div>
                            </div>
                        </article>
                    )
                }
            )
    }
    <a
        class="float-right text-sm hover:underline"
        href="https://iverse.dev/projects"
        target="_blank">Ver más</a
    >
</Section>
